<div id="divBody">
  <div id="divHijo" class="text-center second">
    <div id="divIniciars">
      <h4 id="colorInicioS">Iniciar sesión</h4>
      <div>
        <section>
          <h5>Usuario</h5>
          <input placeholder="Ingrese Usuarios" [(ngModel)]="login.nombre_contacto"/>
        </section>        
        <section>
        <h5>Contraseña</h5>
            <input placeholder="Ingrese Contraseña" [(ngModel)]="login.password"/>
        </section>
        <br>        
        <button type="button" class="btn btn-warning" (click)="ingresar()">Ingresar</button>
        <div class="msjError" *ngIf="mensaje!=''">
          {{mensaje}}
        </div>
    </div>
    </div>
  </div>
  </div>