#divBody{  
    text-align: center;     
    background-image: url(../../assets/mundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center; 
    width: 100%;
    height: 100%;
    
/*CENTRAR DIV*/
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
    /*opacity: 0.5;*/
}
.msjError{
    color: red;
}
#divHijo{   
    height: 40%;    
    width: 40%;
}
#divIniciars{ 
    height: 100%;    
    width: 100%;
}
#colorInicioS{
    color: brown;
    font-weight: bold;
}
input, button, select, optgroup, textarea{
    width: 50%;
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif !important;
    padding-bottom: -5px;
}
h5{
    color: white;
}
.second{
    background: rgba(95, 100, 95, 0.3);
}
/*
@media only screen and (max-width: 767px) {
  body {
    background-image: url(../../assets/mundo.jpg);
  }
}
*/