/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
